<h1 *ngIf="toggle">
  {{'header.header1'| translate}}

</h1>
<h1 *ngIf="!toggle">
  {{'header.header2'| translate}}

</h1>

 <button (click)="toggleFormat()">change language </button>
<!-- <button (click)="useLanguage2('vn')">Tiếng Việt</button>
<button (click)="useLanguage2('en')">English</button>
-->
<hr/>

<h3 translate [translateParams]="{tiengviet:'Tiếng Việt',english:'English'}">
 title
</h3>
<button (click)="useLanguage1('vn')">Tiếng Việt</button>
<button (click)="useLanguage1('en')">English</button> 
<!-- 
<strong>{{language1 | language:format1}}{{'world' | language:format2}}</strong>
<button (click)="toggleFormat1()">change language 1</button>
<button (click)="toggleFormat2()">change language 1</button> -->
